// Color
$background: #F0FAF0;

$primary: rgb(0, 141, 201);
$primary-lighter: #accbe8;
$primary-darker: #00567A;

$secondary: rgb(46,163,46);
$accent: #C20E1A;

$text: #14213D;
$text-light: #F1FAEE;

$disabled: #555;

// Spacing
$vertical-padding: 2em;

// Fonts
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: $text;
}

body {
  background: $background;
}

.serif {
  font-family: 'Roboto Slab', serif;
}

body, html {
  height: 100%;
}

.sub-headline {
  line-height: 1.2em;
  margin-top: .5em;
  margin-bottom: 1em;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em $vertical-padding 0 $vertical-padding;
}
$heading-margin-x: 50px;

.heading {
  margin: 0 $heading-margin-x;
  width: calc(100vw - 2 * #{$vertical-padding} - #{$heading-margin-x});
}


.vertical-scroll {
  padding-right: 100px;
  padding-bottom: 6em;
  overflow-y: hidden;
  display: flex;
  width: max-content;
  > * {
    flex-shrink: 0;
  }


  #history-chart {
    width: calc(100vw - 2 * #{$vertical-padding} + 180px);
    min-width: 1400px;

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  #detail-chart-wrapper {
    width: calc(70vw - 2 * #{$vertical-padding});
    display: flex;
    flex-direction: column;
    height: 100%;

    .detail-heading {
      margin-left: .5em
    }

    .detail-chart-svg-wrapper {
      height: 100%;
      overflow-y: hidden;

      svg {
        display: inline-block;
        max-width: 70vw;
        max-height: 100%;
      }
    }
  }
}

.history-button-group {
  margin: 1em 0 1em;

  .navigation {
    margin-left: auto;
    margin-right: 20px;
    right: 0;
  }

}

.detail-button-group {
  margin: 2em 0;
}

.button-group {
  display: flex;

}


button {
  outline: none;
  background: none;
  color: $primary;
  padding: 1em;
  border: solid 1px $primary;
  border-radius: 1em;
  cursor: pointer;
  margin-right: 1em;
  transition: color 200ms ease, opacity 500ms ease;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: inherit;
  }
  svg {
    display: inline;
    height: 1em;
    stroke: $primary;
  }
  svg:last-child {
    margin-left: .5em;
  }
  svg:first-child {
    margin-right: .5em;
  }
  svg.filled {
    fill: $primary;
  }
  &.active {
    color: $text-light;
    background: $primary;
    border: solid 1px $primary;
    svg {
      stroke: $text-light;
    }
    svg.filled {
      fill: $text-light;
    }
  }

  &:hover:not(:disabled) {
    color: $text-light;
    background: $primary-darker;
    border: solid 1px $primary-darker;
    svg {
      stroke: $text-light;
    }
    svg.filled {
      fill: $text-light;
    }
  }

  &:disabled {
    border-color: $disabled;
    cursor: not-allowed;
    &, * {
      color: $disabled;
      stroke: $disabled;
    }
  }
}

.detail-headline {
  display: flex;
  align-items: center;
}

#history-chart {
  margin-top: 1em;
  position: relative;

  .tooltip {
    opacity: 0;
    z-index: 100;
    //stroke: $primary-darker;
    stroke-width: 8px;

    rect {
      fill: $primary-darker;
    }

    text {
      fill: $text-light;
      font-size: 20px;

      tspan {
        font-weight: bold;
      }
    }
  }

  .label {
    font-size: 1.2em;
    font-weight: bold;
  }
  .history-zoom {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 5;
    stroke: $primary;
  }

  .highlight-chart-bar {
    stroke: $text-light;
    stroke-dasharray: 5;
    fill: none;
  }
  .value-text {
    fill: $text-light;
  }

  .highlight-chart-headline {
    font-size: 1.2em;
    fill: $text-light;
    font-weight: bold;
  }


  .highlight-chart-label {
    font-size: 1.1em;

    path {
      stroke: $text-light;
    }
    text {
      fill: $text-light;
      stroke: none;
    }
  }
  .highlight-text-background {
    fill: $primary;
    border-radius: 10px;
  }

  .highlight-text-background.detailed {
    fill: $primary-darker;
  }

  .highlight-text {
    fill: $text-light;
    font-size: 18px;
    white-space: pre;
  }

  .highlight-line {
    stroke: $primary;
    stroke-width: 2px;
    fill: none;
  }
  .highlight-line.detailed, .history-zoom.detailed {
    stroke: $primary-darker;
  }
}

.axis {
  font-size: 1.3em;
}

.grid-lines {
  stroke-dasharray: 5;
}

.history-point {
  fill: $primary;
  transition: 200ms ease;
  stroke-width: 60px;
  stroke: transparent;
  cursor: pointer;

  &:hover {
    fill: $primary-darker;
  }
}

.history-line {
  stroke: $primary;
  stroke-width: 2;
}

.connection-line {
  stroke: $primary;
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 1em;
}


#detail-chart {

  .data-point {
    transition: 500ms ease;
  }

  .low {
    fill: $primary;
  }

  .mid {
    fill: $secondary;
  }

  .high {
    fill: $primary-darker;
  }

  .special-low-gradient {
    fill: url(#special-low)
  }

  .special {
    fill: $accent;
  }

  .special-stop {
    stop-color: $accent;
  }

  .low-stop {
    stop-color: $primary;
  }

  .special-line {
    stroke: $accent;
    fill: none;
    stroke-width: 2px;
  }

  .label {
    font-size: 8px;
    font-weight: bolder;
    white-space: pre;
  }

  .info {
    font-size: 8px;
    color: $text;

    .bold {
      font-weight: bolder;
    }
  }
}


.meta {
  font-size: 0.8em;
  position: fixed;
  bottom: .5em;
  right: 2em;

  > * {
    margin: .2em 0;
  }

  .license img:not(:first-child) {
    margin-left: 2px;
  }
}
