// Color
$background: #F1FAEE;

$primary: #457B9D;
$primary-lighter: #A8DADC;
$primary-darker: #1D3557;

$secondary: #E63946;

$text: #14213D;
$text-light: #F1FAEE;

// Spacing
$vertical-padding: 2em;

// Fonts
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: $text;
}

body {
  background: $background;
}

.serif {
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  padding: 3em $vertical-padding 0 $vertical-padding;
  display: flex;
  flex-direction: column;
}

.heading {
  $heading-margin-left: 40px;
  margin-left: $heading-margin-left;
  position: fixed;
  width: calc(100vw - 2 * #{$vertical-padding} - #{$heading-margin-left});
}

.vertical-scroll {
  margin-top: 170px;
  display: flex;
  flex-grow: 1;
  width: 150vw;

  #history-chart {
    width: calc(100vw - 2 * #{$vertical-padding} + 150px);
    min-width: 1400px;

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  #detail-chart {
    margin-top: 10px;

    .detail-heading {
      margin-left: .5em
    }
  }
}

.button-group {
  margin: 2em 0;
  display: flex;

  .navigation {
    margin-left: auto;
    margin-right: 135px;
  }

  button {
    outline: none;
    background: none;
    color: $primary;
    padding: 1em;
    border: solid 1px $primary;
    border-radius: 1em;
    cursor: pointer;
    margin-right: 1em;
    transition: 100ms ease;
    font-size: 1em;
    font-weight: bold;


    &.active {
      color: $text-light;
      background: $primary;
      border: solid 1px $primary;

    }

    &:hover {
      color: $text-light;
      background: $primary-darker;
      border: solid 1px $primary-darker;
    }
  }
}


//History Chart

#history-chart {
  margin-top: 1em;
}

.axis {
  font-size: 1em;
}

.grid-lines {
  stroke-dasharray: 5;
}

.history-point {
  fill: $primary;
  transition: 200ms ease;
  stroke-width: 28px;
  stroke: transparent;
  cursor: pointer;

  &:hover {
    fill: $secondary;
  }
}

.history-line {
  stroke: $primary;
  stroke-width: 2;
}

.connection-line {
  stroke: $primary;
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 1em;
}
